<div class="container">
  <h1>Angular HTTPClient</h1>

  <div class="card">
    <div class="form-control">
      <input type="text" placeholder="Название" [(ngModule)]="todoTitle">
    </div>
    <button class="btn" (click)="addTodo()">Add</button>
    <button class="btn" (click)="fetchTodos()">UpLoad</button>
  </div>
  <p>{{errorMessage}}</p>
  <hr>
  <div *ngIf = "!loading; else loadingBlock">
    <div class="card" *ngFor="let todo of todos">
      <p>
        <span class="completed" [class.completed]="todo?.completed">{{ todo?.title }}</span>
        <span>
          <button class="btn btn-danger" (click)="removeTodo(todo.id)">Delete</button>
          <button class="btn" [disabled]="todo?.completed" (click)="completeTodo(todo.id)">Finish</button>
        </span>
      </p>
    </div>
</div>
</div>

<ng-template #loadingBlock>
  <p>loading...</p>
</ng-template>