body {
	background: #a87a7a;
}

.about {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.wrap_about {
	padding: 20px;
	text-align: center
}

.main {
	display: flex;
}

.grid {
	padding: 20px;
	width: 200px;
	height: 100px;
	margin: 20px;
}

.pic1, .pic2, .pic3 {
	background: white;
	height: 100%;
}